services:
  postgres:
    image: postgres:12-alpine
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: shop-db
      TZ: "Asia/Bangkok"
    ports:
      - "5432:5432"
